
    html { background-color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        height: 100%;

    }

    header {
        background-color: rgb(91, 3, 3);
        text-align: center;
    }
    
    body { 
    background-color: rgb(36, 33, 33);
    box-shadow: rgb(171, 29, 29) 5px 0px 40px, -5px 0px 40px;
    margin: 0px auto;
    min-width: none;
    max-width: 1200px;
    height: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}