
    /* -------------------------nav styles ---------------------*/


   /* -------------------------link styles ---------------------*/
   
   a:link {
        color:white;
    }

    a:visited {
        color:rgb(139, 46, 0)
    }

    /*---------------------formatting bodystyle --------------------*/
    html { background-color: rgb(50, 50, 50);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 100%;
        }

    header {
        background-color: rgb(91, 3, 3);
        text-align: center;
    }
    
    body { 
    background-color: rgb(45, 43, 43);
    box-shadow: rgb(171, 29, 29) 5px 0px 40px, -5px 0px 40px;
    margin: 0px auto;
    min-width: none;
    max-width: 90%;
    height: 100%;   
    padding: 10px;
}

/* -----------------------------------div formatting -----------------------*/
.container {
    border: 3px solid blue;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.containerDOM { 
    border: 6px solid blueviolet;
    max-width: 80%;
    margin: auto;
    padding-left: 10px;
    
}
 .unitOneContainerOne {
    border: 3px solid green;
    margin: auto;

 }

.unitOneContainer {
    border: 3px solid rgb(221, 17, 17);
    min-width: 50%;
    min-height: 150px;
    text-align: center;
    

}

/*----------------------- buttons -------------*/

.btnColor {
    background-color: darkred;
    border: 3px solid white;
    text-align: center;
    font-size: large;
    padding: 10px;

}
